/*  Universal CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 49, 51);
    color: whitesmoke;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: xx-large;
    align-content: center;
}

ul {
    list-style-type: square;
  }

.aj-javadi {
color:rgb(74, 83, 87);
background-color:rgb(69, 236, 194);
padding: 20px;
/* border: 3px solid black; */
flex-wrap: wrap;
align-content: center;
margin: 2px;
padding-left: 10px;
min-width: 10px;
}
.top-contact {
    display: flex;
    /* flex-direction: */
    align-items: end;
    justify-content: right;
    text-decoration: underline ;
    
    


    /* color: rgb(69, 236, 194) */
    
}


/* .flexbox-container {

} */

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: rgb(69, 236, 194);
}

.flexbox-item-one {
    min-height: 100px;
    min-width: 200px;
}

.underline {
    text-decoration: underline;
}

.image-one {
  height: 200px;
  width: 1500px;

}
.placeholder-img {
    width: 100px;
    height: 100px;
    /* background-color: lightblue; */
    /* TODO: Add a margin property */
    margin: 20px;
  
    /* TODO: Add a padding property */
    padding: 20px;
  
  }

.subtitle-fixed {
        top: 20x;
        right: 40px;
        width: 200px;
        height: 100px;
        background-color: inherit;
        word-wrap: normal;
}

.italic {
    font-display: italic;
    font-size: small;
}

.background-two {
    background-color: azure;
}

.about-me-header {
    color: rgb(26, 198, 141);
    font-size: 30px;
}
.about-me {
    color: #121111;
    
}





/*  MEDIA QUERIES  */

/* Styles for iPhone SE */
@media (max-width: 667px) {
    body {
      background-color: lightblue;
    }
    
    .container {
      width: 90%;
      margin: 0 auto;
    }
    
    .header {
      font-size: 24px;
    }
  }

/* bottom contact */

.bottom-contact {

}




  /* MEDIA QUERIES  */
  
  /* Styles for screens larger than 1200px */
  @media (min-width: 1200px) {
    body {
      background-color: lightgray;
    }
    
    .container {
      width: 80%;
      margin: 0 auto;
    }
    
    .header {
      font-size: 36px;
    }
  }

